*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../imgs/background.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  width: auto;
  object-fit: cover;
}

.world {
  position: relative;
  overflow: hidden;
  height: 1000px;
}

.score {
  position: absolute;
  font-size: 5vmin;
  right: 1vmin;
  top: 1vmin;
  color: white;
  justify-self: center;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 1;
  position: absolute;
  left: 10%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.obstacle-ground {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.obstacle-flying {
  position: absolute;
  left: calc(var(--left) * 1%);
  top: calc(var(--top) * 85%);
  height: 30%;
}

.highscore {
  position: absolute;
  font-size: 5vmin;
  right: 1vmin;
  top: 0vmin;
  color: white;
  justify-self: center;
}
